<?xml version="1.0" encoding="utf-8"?>
<!-- Search packages in https://chocolatey.org/packages -->
<packages>
  <!-- dev tools -->
  <package id="git" />
  <package id="python" />
  <package id="vscode" />
  
  <!-- utility -->
  <package id="firefox" />
  <package id="bandizip" />
  <package id="everything" />
</packages>
